.sectionContainer{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  overflow: hidden;
}
.profilePic{
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.profileName{
  position: relative;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.profileName::after{
  content: "Hi! I'm Bagas FA ✌🏻";
}
.profileName:hover::after{
  content: "Hi! I'm Bagas Fatchur Afnan ✌🏻";
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.profileHeadline{
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 30px;
}
.aboutProfile{
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-muted);
  max-width: 600px;
  margin: 0 auto 34px;
}
.btnHire{
  padding: 12px 36px;
  border-radius: 28px;
  background-color: var(--color-primary);
  border: 0;
  outline: 0;
  color: #FFF;
}
.btnCV{
  border: 0;
  outline: 0;
  padding: 12px 36px;
  background-color: #FFF;
  color: var(--color-text);
}
.btnHire:focus,
.btnCV:focus{
	-webkit-animation: jello-vertical 0.9s both;
          animation: jello-vertical 0.9s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@media(max-width: 767px){
  .sectionContainer{
    padding: 64px 24px;
  }
}