.navbar{
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 10;
    transition: .3s ease;
}
.navbar.shadow{
    transition: .3s ease;
}
.menuItems{
    padding: 4px 16px;
    transition: .3s ease;
}
.menuItems:last-child{
    padding-right: 0;
}
.menuItems::after{
    content: '';
    display: block;
    border-bottom: 2px solid var(--color-primary);
    width: 0;
    margin-top: 2px;
    transition: .3s ease;
}
.menuItems:hover::after{
    width: 100%;
    transition: .7s ease;
}
.menuItems:hover{
    color: var(--color-primary);
}
.menuItems:focus{
    -webkit-animation: jello-vertical 1s both;
    animation: jello-vertical 1s both;
}
.sendMail:focus{
    -webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}    
  
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
}

@-webkit-keyframes bounce-in-right {
        0% {
          -webkit-transform: translateX(600px);
                  transform: translateX(600px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateX(68px);
                  transform: translateX(68px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateX(32px);
                  transform: translateX(32px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateX(8px);
                  transform: translateX(8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
}
@keyframes bounce-in-right {
        0% {
          -webkit-transform: translateX(600px);
                  transform: translateX(600px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateX(68px);
                  transform: translateX(68px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
   81% {
        -webkit-transform: translateX(32px);
                transform: translateX(32px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
   }
   90% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
   }
   95% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
   }
   100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
   }
}

@media(max-width: 767px){
    .mobileToggle{
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        display: block;
    }
    .mobileToggle:focus{
        outline: 0;
    }
    .mobileToggle > i{
        font-size: 24px;
    }
    .mobileMenuContainer{
        position: fixed;
        top: 70px;
        right: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 70px);
        border-radius: 8px;
        align-content: start;
        padding-top: 40px;
        background-color: #FFF;
    }
    .mobileMenuContainer[data-shown=false]{
        -webkit-transform: translateX(600px);
                transform: translateX(600px);
        opacity: 0;
    }
    .mobileMenuContainer[data-shown=true]{
        -webkit-animation: bounce-in-right 1.1s both;
	        animation: bounce-in-right 1.1s both;
    }
    .menuItems{
        font-size: 28px;
        text-align: center;
    }
}

@media(min-width: 768px){
    .mobileToggle{
        display: none;
    }
}