.imgPreview{
    width: 100%;
}
.btnClose:focus{
    box-shadow: unset;
}
.fullscreenMobile > div{
    border-radius: 12px;
}
@media(max-width:576px){
    .fullscreenMobile{
        height: 100vh;
        margin: 0;
    }
    .fullscreenMobile > div{
        border-radius: 0;
    }
}