.sectionContainer{
    padding-top: 100px;
    padding-bottom: 100px;
    color: #FFF;
	-webkit-animation: color-change-2x 3.5s linear infinite alternate both;
	        animation: color-change-2x 3.5s linear infinite alternate both;
}
.footerTitle{
    margin-bottom: 120px;
}
.footerTitle > div{
    font-size: 38px;
    line-height: 48px;
}
.footerTitle > a{
    font-size: 38px;
    line-height: 48px;
    color: #FFF;
    border-bottom: 2px solid #FFF;
}
.footerAddress{
    font-size: 16px;
    line-height: 24px;
    color: #a0a0a0;
}
.footerSocials a i{
    color: #FFF;
    font-size: 32px;
    margin-left: 24px;
}
.footerSocials a:hover i,
.footerTitle > a:hover{
    color: #f2f2f2;
	-webkit-animation: text-shadow-drop-br 0.6s both;
	        animation: text-shadow-drop-br 0.6s both;
}

@-webkit-keyframes color-change-2x {
    0% {
      background: var(--color-secondary);
    }
    100% {
      background: var(--color-dark);
    }
}
@keyframes color-change-2x {
    0% {
      background: var(--color-secondary);
    }
    100% {
      background: var(--color-dark);
    }
}
  
@-webkit-keyframes text-shadow-drop-br {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 4px 6px 3px rgba(255, 255, 255, 0.5);
    }
}
@keyframes text-shadow-drop-br {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 4px 6px 3px rgba(255, 255, 255, 0.5);
    }
}  