.font-18{
    font-size: 18px;
    line-height: 28px;
}
.customPagination{
    position: relative;
    text-align: center;
    top: unset !important;
    bottom: unset !important;
}
.customPagination .swiper-custom-bullet{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 25px;
    background-color: #c2c2c2;
    transform: scale(.33);
    transition: .3s ease;
}
.customPagination .swiper-custom-bullet-active-main{
  transform: scale(1);
  transition: .3s ease;
}
.customPagination .swiper-custom-bullet-active-next,
.customPagination .swiper-custom-bullet-active-prev{
  transform: scale(.66);
  transition: .3s ease;
}
.customPagination .swiper-custom-bullet-active-next-next,
.customPagination .swiper-custom-bullet-active-prev-prev{
  transform: scale(.33);
  transition: .3s ease;
}
.customPagination .swiper-custom-bullet:not(:last-child){
    margin-right: 4px;
}
.customPagination .swiper-custom-bullet.swiper-custom-bullet-active{
    background-color: var(--color-secondary);
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}